* {margin:0;padding:0;}
img {border:0 none;vertical-align:middle;}
a {color:#0167ab;text-decoration:none;}
ol, ul {list-style: none;}
html { background: url('../images/background.png'); }
.clear {clear: both; margin: 0; padding: 0; }
body 
{
	font-size: 0.75em;
	font-family: helvetica,georgia,arial,sans-serif;
	background: url('../images/header_bg.png') repeat-x center top;
	line-height:2em;
}

#page-menu { z-index: 1005;line-height:30px;float:right; }
/*
#p-menu-left { background: url(../images/p-menu-left.jpg) no-repeat; width: 8px; height: 38px; float: left;}
#p-menu-content { background: url(../images/p-menu-content.jpg) repeat-x; float: left; height: 38px; }
#p-menu-content ul.nav ul { line-height: 38px; }
*/
ul.nav li a { color: #e3e3e3; font-weight: bold; text-decoration: none;}
ul.nav li{float:left;padding:0 20px;background-color:#313131;-moz-border-radius: 7px;-webkit-border-radius: 7px;}
ul.nav li.current_page_item a,
ul.nav li a:hover {color: #00b7f3; text-shadow:0 0 10px #FFFFFF; }
ul.nav > li:last-child {padding-right: 17px;}
/*
#p-menu-right { background: url(../images/p-menu-right.jpg) no-repeat; width: 8px; height: 38px; float: left;}
*/

.sf-menu { position: relative; margin: 0; padding: 0; list-style: none;clear:both; float: left; margin-top: 12px; padding-left: 9px; margin-bottom:	1em; background: url('../images/menu_bg.png') no-repeat; height: 58px; width: 957px; z-index: 400; }
.sf-menu ul {  position: absolute; top:	-999em; margin-top: 20px; width: 212px; left: 7px; -moz-box-shadow: 3px 6px 8px 1px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 3px 6px 8px 1px rgba(0, 0, 0, 0.3); background-image: url('../images/dropdown_top.png'); background-repeat: no-repeat; background-position: top; padding-top: 8px; z-index: 400; }
.sf-menu a { display: block; position: relative; text-decoration:none; color: #fff; padding: 23px 20px 0px 20px; height: 30px; text-decoration: none; text-shadow: 1px 1px 1px #000; font-weight: normal; float :left; }
.sf-menu li {line-height:12px; float: left; position: relative; font-family: Arial, Helvetica, sans-serif; background: url('../images/menu_line.png') no-repeat; background-position: right 5px; }
.sf-menu li ul li ul { left: 212px; margin-top: 0px;}
.sf-menu li li { background: #fff url('../images/submenu_li.gif') no-repeat; background-position: 24px 15px; height: 36px ; margin: 0px; float: left; width: 212px; z-index: 10; }
.sf-menu li a:hover { color: #00b4ff; }
.sf-menu li:hover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { background: #121212; outline: 0; }
.sf-menu li.sfHover li a:hover { background: #fff url('../images/submenu_li_hover.gif') no-repeat; background-position: 11px 0px;  }
.sf-menu li.sfHover li a{ background: url('../images/submenu_li_hover.gif') no-repeat ; background-position: -100px -100px; width: 172px; color: #404040; margin: 0px; padding: 14px 0px 0px 40px; text-shadow: 0px 1px 0px #cccccc; }
ul.sf-menu li.backLava { position: absolute; z-index: 3; background: url('../images/lavalamp.png') no-repeat; background-position: center 0px; padding: 0; height: 16px; margin-top: 42px; }

#header .nav_top{width:100%;overflow:hidden;}
#header { width: 963px; margin: 0 auto; padding: 12px 0 0 0;position:relative; }
#header .nav_header{width:100%;overflow:hidden;}
#header #logo_title { font-family: Georgia, serif; font-style: italic; text-shadow: 1px 1px 1px #656565; color: #1d1d1d; font-size: 1.5em;float: left; }
#header #logo_title a:link { text-decoration: none; color: #fff; }
#header #searchico { float: right; position:absolute;right:5px;bottom:0;}
#header #searchico .bg-search {background: url('../images/sidebar_search_BG.png') no-repeat top left;height:31px;width:280px;display:inline-block;}
#header #searchico .bg-search .box-search {background: transparent;border:none;height:18px;padding:5px;color:#313131;vertical-align:top;}
#header #searchico .bg-search .buttonSearch{width:100px;border:none;height:28px;cursor:pointer;background-color:Transparent;}
#header #searchico #search{float:right;margin-top:12px;}

#header #featured { margin-top: 8px; float: left; }
#header #featured #left_arrow { float: left; background: url('../images/featured_before.png') no-repeat top right; width: 34px; margin-left: 7px; padding-top: 110px; height: 217px;}
#header #featured #featured_content { padding: 19px 19px 19px 40px; float: left; background: url('../images/featured_bg.jpg') no-repeat; width: 829px; height: 280px;  color: #a8a8a8; font-size: 1em; line-height: 1.6em; text-shadow: 1px 1px 1px #000; }
#header #featured #featured_content img { float: left; margin: 0 30px 0 0; }
#header #featured #featured_content h1 {text-align:left; line-height: 1.2em;  float: left; font-size: 2.5em; margin: 0px 0 14px 0; font-family: Century Gothic; font-weight: normal; color: #fff; text-shadow: -2px -1px 0px #000; }
#header #featured #featured_content #spotlight { float: left; width: 500px; margin-right: 10px; }
span.readmore_g { margin-left: auto; display: block; background: url('../images/button_grey_left.png') 0 0 no-repeat; height:29px; width: 82px; padding-left:14px; margin-top: 25px; float: right;}
span.readmore_g a{ padding-top: 2px; font-weight: bolder; text-shadow: -1px -1px 1px #000;display: block; background: url('../images/button_grey_right.png') no-repeat top right;text-align: center; font-size: 0.920em; height: 29px; color: #fff; text-decoration: none; padding-right: 14px;}
span.readmore_b { display: block; background: url('../images/button_blue_left.png') 0 0 no-repeat; height:29px; width: 82px; padding-left:14px; float:right; margin-top: 10px;}
span.readmore_b a{ padding-top: 0px; font-weight: bolder; text-shadow: -1px -1px 1px #006fc9; display: block; background: url('../images/button_blue_right.png') no-repeat top right; text-align: center; font-size: 0.920em; height: 29px; color: #fff; text-decoration: none; padding-right: 14px;}
#header #featured #featured_content #spotlight div { 
	float: left; 
	background:transparent url('../images/featured_bg.jpg') no-repeat 0px -10px; 
	background-position: 0px -10px; 
	background-color:Transparent;
	text-align:justify;
}
.order {display: none;}
#header #featured #featured_content #f_menu { float: right; padding-right: 117px; width: 200px; }
#header #featured #featured_content #f_menu div { cursor: pointer; }
#header #featured #featured_content #f_menu .featitem { line-height: 1em; background: url('../images/featured_menubg.png'); width: 267px; margin: 0px 0 1px 35px; padding: 11px; height: 43px; }
#header #featured #featured_content #f_menu .featitem h2 { font-family: Arial, Helvetica, sans-serif; color: #fff; font-size: 1.167em; font-weight: 500; margin: 7px 0 6px 0; }
#header #featured #featured_content #f_menu .featitem img { padding: 5px 5px 5px 5px; background: url('../images/featured_menuimgbg.gif') no-repeat; background-position: center top; margin-right: 15px; }
#header #featured #featured_content #f_menu .featitem .meta {  color: #888888; font-family: Arial, Helvetica, sans-serif; font-style: italic; font-size: 0.917em; }
#header #featured #right_arrow { padding-top: 110px; float: left; background: url('../images/featured_aftr.png') no-repeat top left; width: 34px; height: 217px; }
.active { background: url('../images/featured_menu_selected_bg.png') no-repeat !important; margin: 0px 0 1px 3px !important; width: 278px !important; padding-left: 25px !important; border-right-style: solid; border-right-width: 7px; border-right-color: #0084ff; }

#wrap { width: 963px; margin: 0 auto; }
#content { float: left; margin: 0 auto 0 auto; background: url('../images/content_bg.png'); width: 962px; }
#content #main {  width: 703px; float: left; }
#content #main .new_post { clear: both; }
#content #main .new_post a.readmore_np { margin-left: 556px; display: block; background: url('../images/readmore_btn.png') no-repeat; background-position: 0 -29px; text-align: center; width: 92px; height: 29px; text-indent: -9999px; }
#content #main .new_post h1.title, #content #main .new_post h1#post-title { padding: 23px 7px 20px 30px; font-family: Century Gothic; font-size: 2.5em; font-weight: lighter;color:#0167AB; }
#content #main .new_post { color: #000; line-height: 1.94em; }
#content #main .new_post .post_img { float: left; margin: 0 33px 0 0px; background: #dbdbdb; padding: 8px; border-right: 1px solid #ababab; border-bottom: 1px solid #ababab; -moz-box-shadow:1px 3px 7px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow:1px 3px 7px 1px rgba(0, 0, 0, 0.15); }
#content #main .new_post .post_info { font-family: Arial, Helvetica, sans-serif; font-size: 1em; color: #717171; text-shadow: 1px 1px 1px #fff; padding: 4px 59px 0px 30px; background: url('../images/post_info_bg.png') no-repeat; height: 32px;margin-bottom: 21px; }
#content #main .new_post .post_info img { background: transparent; top: 5px; margin: 0 5px; }
#content #main .new_post .post_info a { color: #010101; text-shadow: 1px 1px 1px #fff; text-decoration: none; }
#content #main .new_post .post_info a:hover{text-decoration:underline;}

/*
#main ul { list-style-type: disc; margin: 10px 0px 10px 20px; }
#main ol { list-style-type: decimal; list-style-position: inside; margin: 10px 0px 10px 2px; }
#main ul li ul, #main ul li ol { margin: 2px 0px 2px 20px; }
#main ol li ul, #main ol li ol  { margin: 2px 0px 2px 35px; }*/

div.postcontent { padding: 0px 30px 0px 30px; }

.wp-pagenavi, div.pagination { padding: 20px; overflow: hidden;float:right;color:Red; }
.wp-pagenavi span.current {background:none repeat scroll 0 0 #0099E6 !important; border:1px solid #007CBB !important; color:#FFFFFF !important; display:block !important; float:left !important; height:20px !important; margin-right:7.6px !important; padding:10px 0 0 !important; text-align:center !important;
text-decoration:none !important; width:30px !important;}
.wp-pagenavi span, .wp-pagenavi a {float: left;}
.wp-pagenavi a { background:none repeat scroll 0 0 #EFEFEF !important; border:1px solid #D4D4D4 !important; color:#000000 !important; display:block !important; height:20px !important; margin-right:7.6px !important; padding:10px 0 0 !important; text-align:center !important; text-decoration:none !important; width:30px !important; }
.wp-pagenavi span.pages {border:none !important; padding: 12px 10px 0 0 !important;}

#sidebar { float: right; width: 259px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-rightradius: 10px; }
#sidebar .block { margin: 13px 0 30px 0; color: #404040; padding-left: 20px;}
/*#sidebar .block p { margin-top: 13px; padding-left: 53px; width: 172px; }*/ 
#sidebar .block h2 { background: url('../images/sidebar_block_h2.png') no-repeat; min-height: 27px; width: 200px; font-family: Century Gothic, sans-serif; margin: 0px 0px 6px -20px; color: #7a7979; font-size: 1.5em; padding: 0 0 0 55px; font-weight: lighter; text-shadow: 1px 1px 1px #fff; }
#sidebar .block .divider { margin-left: -20px; }
#sidebar .block ul { margin: 10px 0 0 0; }
#sidebar .block ul li { color: #404040;font-size:12px; margin: 0 0 10px 0; background: url('../images/list_w.png') no-repeat; background-position: 8px 50%; padding: 0 0 0 33px; }
#sidebar .block ul#recentcomments {margin-left:-14px;}
#sidebar .block ul#recentcomments li {background-position: left 7px;padding-left:15px;border-bottom:1px solid #DFDFDF;padding-right:7px;text-align:justify;}
#sidebar .block ul#recentcomments li a{color:#508718;}
#sidebar .block ul li a:hover{text-decoration:underline;}
#sidebar .adwrap {margin-left:-17px; width:253px;}
#footer_widgets { clear: both; background: url('../images/footer_bg.jpg') no-repeat; padding-top: 40px;}
#footer_widgets .block_b { float: left; width: 258px; background: url('../images/block_b_h2.png') no-repeat; background-position: 0 39px; margin: 0 29px 0 34px; color: #adadad;}
#footer_widgets .block_b li { background: url('../images/list_b.png') no-repeat; background-position: 5px 50%; margin: 0 0 10px 0; padding-left: 30px; text-shadow: 1px 1px 1px #000; }
#footer_widgets .block_b li a:hover{text-decoration:underline;}
#footer_widgets a {color: #cccccc; text-decoration: none;}
#footer_widgets .block_b h2 { font-size: 2em; width: 258px; padding-left: 2px; margin: 0 0 32px 0; font-family: Century Gothic; color: #000; text-shadow: 1px 0px 1px #616161; font-weight: lighter; }
#footer { color: #727171; width: 930px; font-size: 0.917em; margin: 20px 0; padding-top: 10px; text-align: right; background: url('../images/footer_text_bg.png') no-repeat; background-position: 672px 0; font-weight: lighter; text-shadow: 1px 1px 1px #000; clear: both; }
#footer a { color: #acacac; text-decoration: none; font-size: 0.917em; }

#content .main-content{margin-left:20px;}
.main-content h1.title {
	clear:both;
	color:#353535;
	font-size:26px;
	font-weight:bold;
	padding:15px 0 0;
}
.main-content p.author {
	color:#B4B4B4;
	font-size:14px;
	padding:0 0 15px 2px;
}
.main-content p.author a {
	color:#63AA17;
}
.main-content p.author a:hover {
	color:#3C3C3C;
}
.main-content p.author span {
	font-weight:bold;
}
.main-content .description {
	background:#F1FBE5 url(../images/product_description_top.gif) no-repeat scroll center top;
	width:665px;
}
.main-content .description_bot {
	background:transparent url(../images/product_description_bot.gif) no-repeat scroll center bottom;
	padding:20px 15px;
	font-size:1.2em;
	text-align:justify;
}
.main-content .description_bot font{padding:7px 0;}
.main-content .description p {
	font-size:13px;
	margin-bottom:7px;
}
.main-content .description ol {
	margin-left:10px;
	padding-left:10px;
}
.main-content .description ol li {
	list-style-type:decimal;
}
.main-content .description a {
	color:#63AA17;
}
.main-content .btn_support {
	background:transparent url(../images/btn_needsupport.gif) no-repeat scroll 0 0;
	line-height:55px;
	margin:10px auto;
	width:582px;
	text-align:center;
}
.main-content .btn_support a {
	color:#837306;
	font-weight:bold;
}
.main-content .btn_support a:hover {
	text-decoration:underline;
}
.comment-number {
	background:transparent url(../images/product_bg_comments.gif) no-repeat scroll 0 0;
	height:49px;
	margin:15px 0;
}
.comment-number p {
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	line-height:43px;
	padding:0 25px;
	float:left;
}

.main-content .comment-list .comment {
	background:#EEEEEE url(../images/product_comment_top.gif) no-repeat scroll center top;
	margin:0 0 10px;
	width:665px;
}
.main-content .comment-list .comment_bot {
	background:transparent url(../images/product_comment_bot.gif) no-repeat scroll center bottom;
	padding:10px;
}
.main-content .comment-list .authorcomment {
	background:#E7F6D6 url(../images/product_author_top.gif) no-repeat scroll center top;
	margin:0 0 15px;
	width:665px;
}
.main-content .comment-list .authorcomment .comment_bot {
	background:transparent url(../images/product_author_bot.gif) no-repeat scroll center bottom;
	padding:15px;
}
.main-content .comment-list .buyer {
	background:transparent url(../images/product_btn_buyer.gif) repeat scroll 0 0;
	height:20px;
	margin:5px auto;
	text-indent:-9000px;
	width:80px;
}
.main-content .comment-list .author {
	background:transparent url(../images/product_btn_author.gif) repeat scroll 0 0;
	height:19px;
	margin:5px auto;
	text-indent:-9000px;
	width:80px;
}
.main-content .comment-list .avatarwrap {
	float:left;
	text-align:center;
	width:80px;
}
.main-content .comment-list .avatarwrap img {
	border:4px solid #C1C1C1;
}
.main-content .comment-list .comment-time {
	color:#868686;
	font-size:10px;
	margin-bottom:5px;
	padding-left:90px;
}
.main-content .comment-list .comment-name {
	font-size:15px;
	padding-left:90px;
	color:#5E892F;
	font-weight:bold;
}
.main-content .comment-list .comment-data {
	color:#313131;
	font-size:12px;
	margin-bottom:1em;
	padding-left:90px;
}
.main-content .comment-list .authorcomment h3 {
	font-size:15px;
	margin-bottom:1.5em;
	padding-left:150px;
}
.main-content .comment-list .authorcomment p {
	color:#313131;
	font-size:12px;
	margin-bottom:1em;
}
.main-content .topnews ul{list-style:none;overflow:hidden;}
.main-content .topnews ul li{width:100%;float:left;background: url(/Library/Images/ArrowNext.png) no-repeat left center;padding-left:20px;}
.main-content .topnews ul li a{font-size:13px;color:#0E487C;font-weight:bold;}
.main-content .topnews ul li a:hover{text-decoration:underline;}
.main-content .topnews h3{margin-bottom:10px;font-size:20px;text-transform:uppercase;}
.main-content .commentform, .main-content .topnews {
	background:#EEEEEE url(../images/product_comment_top.gif) no-repeat scroll center top;
	margin:20px 0 25px;
	width:665px;
}
.main-content .commentform_bot, .main-content .topnews_bot {
	background:transparent url(../images/product_comment_bot.gif) no-repeat scroll center bottom;
	padding:20px;
}
.main-content .commentform_bot .frame {
	background-color:#000000;
	border:1px solid #8DBCEA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left:105px;
	margin-top:-285px;
	opacity:0.85;
	padding-bottom:3px;
	position:absolute;
	visibility:hidden;
	width:483px;
}
.main-content .commentform_bot .frame .anh {
	display:inline;
	float:right;
	padding-right:3px;
	padding-top:3px;
}
.main-content .commentform h3 {
	font-size:20px;
	margin-bottom:1em;
	text-transform:uppercase;
}
.main-content .commentform_bot ul.comment-form {
	overflow:hidden;
	padding-left:15px;
}
.main-content .commentform_bot ul.comment-form li label {
	width:90px;
	float:left;
}
.main-content .commentform_bot ul.comment-form li {
	float:left;
	width:100%;
	padding-bottom:7px;
}
.main-content .commentform_bot ul.comment-form li input {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #D8D8D8;
	height:20px;
	padding:2px 2px 0;
}

.main-content .commentform textarea {
	border:1px solid #D8D8D8;
	height:166px;
	margin-bottom:5px;
	width:555px;
	float:left;
}
.main-content .commentform_bot ul.comment-form li textarea+span{
	
}
.main-content .commentform input.postcomment,.main-content .commentform input.sendcontact {
	background:transparent url(../images/product_btn_postcomment.gif) no-repeat scroll 0 0;
	border:medium none;
	cursor:pointer;
	float:left;
	height:35px;
	width:150px;
	margin-left:20px;
}
.main-content .commentform input.sendcontact {
	background:transparent url(../images/sendContact.gif) no-repeat scroll 0 0;
	height:30px;
	width:85px;
}
span.validate_error { 
	background : url('../images/validate_error.png') no-repeat left; 
	color : #d33232; 
	font-weight:bold;
	padding-left:5px;
}
span.validate_success { 
	background : url('../images/validate_success.png') no-repeat left; 
	color : #39ce31; 
}
#faqs ul li a{color:#508718;}


.pagination {text-align:center;padding:5px;}
.pagination a.p-button {
	background:transparent url(../images/button-right-bg-m.gif) no-repeat scroll right top;
	color:#444444;
	display:block;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	height:26px;
	padding-right:11px;
	text-decoration:none;
	margin-right:5px;
}

.pagination a.p-button span {
	background:transparent url(../images/button-left-bg-m.gif) no-repeat scroll left top;
	display:block;
	line-height:15px;
	padding:4px 0 7px 10px;
}
.pagination a.p-button:hover,.pagination a.p-button.p-active {
	background-position:right bottom;
	color:#0063BE;
}
.pagination a.p-button:hover span,.pagination a.p-button.p-active span {
	background-position:left bottom;
	color:#0063BE;
}


/* poll */
.poll_content{padding-left:5px;padding-top:5px;}
.poll_wrap{margin-left: -5px;width: 99%;}
.poll_wrap .title{color:#0167AB;font-size:14px;font-weight:bold;}
.icon_poll {background: url("/Library/Images/vote-icon.png") no-repeat scroll 0 0 transparent;height: 61px;margin: -10px auto 0; width: 100px;}
#submitVote{background:url("/Library/Images/voteNow.png") no-repeat;    border: medium none; height: 25px;width: 73px;cursor:pointer;}
.r_item {width:100%; overflow:hidden; padding:5px 0;}
.r_item .r_header {overflow: hidden;}
.r_item .r_header .r_title {font-size:13px;font-weight:bold;float:left;}
.r_item .r_header .r_result{float:right;font-size: 11px;}
.r_item .r_answer{background-color: #CCCCCC;height: 12px;padding: 2px;}
.r_item .r_answer .r_answer_bar{background: url("/Library/Images/vote_rate.gif") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #BE8C2E;
    border-right: 1px solid #BE8C2E;
    font-size: 2px;
    height: 12px;     
}
